*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-info-box{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 2rem;
    background-color: #F6F6F6;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: small;
}

.top-contact{
    /* border: 2px solid blue; */
    width: 25%;
    display: flex;
    justify-content: space-between;
    
    
}

.top-menu{
    /* border: 2px solid blue; */
    
}

.top-menu a{
    /* border: 2px solid red; */
    margin-left: 15px;
    text-decoration: none;
    color: black;
    
}