*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerArea{
    border: 2px solid red;
    width: 100%;
    font-family: "Roboto",sans-serif;
}
.topMenu{
    border: 2px solid green;
    width: 100%;
    background-color: lightslategray;
}
.Container{
    border: 2px solid yellow;
    padding-left:15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
}
.leftMenu{
    border: 2px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightMenu{
    border: 2px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightMenu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

